:root{
    /* color scheme */
    --secondary-color: #38bdf8;
    --tertiary-color: #f0f9ff;
    --primary-color: #e2e8f0;
    --avatar-background:#c78902;
    --card-border-idle:#f1d639;
    --card-border-hover:#66f353;
    --icon-size:clamp(30px, 20%, 40px);
    --avatar-size: clamp(20px, 20%, 60px);
    --font-family: 'IBM Plex Mono', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    margin:0;
    padding:0;
}

/* Resource classes */
.icon{
    width: var(--icon-size); 
}
.icon-big{
    width: calc(var(--icon-size) + 2vh);
}
.icon-small{
    width: calc(var(--avatar-size) - 8%);
}
.profile-icon{
    width: var(--avatar-size);
    background-color: var(--avatar-background);
    border-radius: 100px;
    margin: 5px;
}
.profile-big{
    width: calc(var(--avatar-size) + 30%);
    margin-left: 20px;
}


/* App container */
.container{
    display:grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100vh;
}


/* Header area of the page */
header{
    background-color: var(--tertiary-color);
    grid-area: 2 / 1 / 3 / span;

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%
}
/* sub-components of header */
.search-bar, .notifications, .title{

    display:flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}
.search-bar{
    grid-area: 1 / 1 / 1 / 2;
    justify-content: flex-start;


}
input{
    width: clamp(100px, 80%, 600px);
    height: clamp(10px, 20%, 80px);
    background-color: var(--primary-color);
    border:none;
    border-radius: 10px;
    padding-left: 20px;
    transition: 200ms ease-in-out;
    font-size: 100%;
    margin-left:30px;

}   
input:focus{
    outline: 2px solid #7dd3fc;
    width: 85%;
    height: 25%;
    font-size: 20px;
}
.notifications{
    grid-area: 1 / 2 / 1 / 3;
    font-weight: 600;
    justify-content: flex-end;


}
.user-info{
    grid-area: 2 / 1 / 2 / 2;
    
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    align-items: flex-start;

}
.user-content{
    font-family: var(--font-family);
    >.greeting{font-size: 1vw;}
    >.profile-name{font-size: 2vw; font-weight: 600;}
    >.profile-id{font-weight:500}
}
.buttons{
    grid-area: 2 / 2 / 3 / 3;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    /* Button styles */
    >button{
        width: clamp(55px, 50%, 200px);
        height: clamp(20px, 40%, 50px);
        background-color: var(--secondary-color);
        border: none;
        border-radius: 20px;
        color: var(--tertiary-color);
        font-size: clamp(20px, 100%, 50px);
        transition: 100ms ease-in-out;
    }:hover{background-color: aqua;
            color: black;}
    :active{scale:90%;}
}


/* Sidebar area of the page */
nav{
    background-color: var(--secondary-color);
    grid-area: 1 / 1 / 3;

    display:grid;
    grid-template-rows: 1fr 10fr;
    
}
/* sub-components of sidebar */
.title{
    grid-row: 1 / 2;
    >span{
        font-size: clamp(20px, 2vw, 50px);
        font-weight: 700;
    }
}

.navigation{
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
}
ul{
    padding: 0;
}
li{
    padding: 5% 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-size: clamp(10px, 1.5vw, 50px);
    font-weight: 600;
    scale:90%;
    transition: 100ms ease-in-out;
}
li:hover{
background-color: #9cd8fd;
scale: 100%;
}

/* Content area of the page */
main{
    background-color:var(--primary-color);
    grid-area: 2 / 2 / 3 / span;

    font-family: var(--font-family);

    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
    margin: 0;
    padding: 2%;
}
/* sub-components of content area */
.content{
    grid-area: 1 / 1 / -1 / 2;

    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    gap:3vh;
    

}
/* content card components */
.project-card{
    background-color:var(--tertiary-color);
    border-left: 6px solid var(--card-border-idle);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 5%;
    box-shadow: 0 5px 5px darkgrey;
    >.card-title{
        font-weight: 700;
        align-self: center;
        font-size: medium;
    }
    >.card-content{
        font-size:small;
    }
    >p{margin:2px;}
    >.card-buttons{
        display:flex;
        justify-content:end;
    }
    transition: 200ms ease-in-out;
}
.project-card:hover{
    scale:110%;
    box-shadow: 0 10px 10px darkgrey;
}
.announcements{
    grid-area: 1 / 2 / 1 / -1;
}

.trending{
    grid-area: 2 / 2 / -1 / -1;
}

